* {
    font-family: "arial";
    background-color: #212529;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    outline: none;
}

#song-title{
    text-align: center;
    margin-bottom: 5px;
    width: 35em;
    height: 2em;
}

#song-artist{
    text-align: center;
    margin-bottom: 10px;
    width: 30em;
    height: 2em;
}

#mode-selector{
    width: 300px;
    text-align: center;
    text-align-last: center;
    padding-left: 14px;
}

#next-button, #previous-button{
    width: 148.25px;
}

#play-button, #pause-button, #stop-button{
    width: 97px;
}

.player-button{
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 3px;
}

.player-button:hover{
    background: #2196f3;
    outline: none;
}    

.player-button:active{
    background: #50a1f5;
}

.player-button:focus{
    outline: none;
}

.player-button:disabled{
    background: #09263d;
    color:rgba(255, 255, 255, 0.5);
}

#time-elapsed, #song-duration{
    padding: 0px;
    border: 0px;
    width: 2em;
    position: relative;
    bottom: 3px;
}

#progress-bar{
    width: 600px;
}

#progress-bar::-webkit-slider-track{
    -webkit-apperance: none;
    background: #575757;
    accent-color: #2196f3
}

#lyrics-area{
    width: 500px;
    height: 500px;
    padding: 10px;
    resize: none;
    text-align: center;
}

#lyrics-area::-webkit-scrollbar{
    display: none;
}

.player-content{
    background: #444444;
    border: 0px solid;
    border-radius: 5px;
}

#progress-bar{
    accent-color: #2196f3;
}

#volume-slider{
    width: 200px;
    accent-color: #2196f3;
    position: relative;
    top: -5px;
}

#select-song{
    width: 150px;
}